*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
    color: white;
    font-size: 14px;
    line-height: 20px;
    height: 100%;
}
a{
    color: white;
    text-decoration: none;
}
header{
    position: relative;
}
/*************************************Upper-Navbar********************************/
.upper-header{
    background-color: #131921;
    height: 60px;
    width: 100%;
    padding-top: 2px;
}
/********************************************upper-left-Navbar**********************************/
.upper-left{
    width: 300px;
    float: left;
    height: 55px;
    padding: 2px;
    margin-left: 10px;

}
.upper-a{
    width: 145px;
    height: 55px;
    float: left;
    padding: 2px;
   
}
.logo-a{
    color: white;
    text-decoration: none;
    height: 53px;
    display: inline-block;
    width: 130px;
    padding: 5px;
}
a:hover{
    border: 1px solid white;
}
span{
    position: relative;
    bottom: 7px;
}

.logo-image{
    width: 98px;
    height: 34px;
    position: relative;
    top: 10px;
}
.locator{
    width: 145px;
    height: 55px;
    float: left;
    padding: 10px 2px 2px 2px;
    margin-top: 1px;
    color: white;
}
p{
    font-size: 12px;
    opacity: 0.8;
    margin-left: 10px;
}
.locator:hover{
    border: 1px solid white;
    margin: -1px;
}
/*****************************************Upper-mid-Navbar**************************************************/
.upper-mid{
    float: left;
    height: 55px;
    width: calc(100% - 667px);
    padding-left: 13px;
    padding-top:7px;

}
.all{
    float: left;
    height: 40px;
    width: 55px;
    border-radius: 5px 0px 0px 5px;
    border: 1px solid white;
    background-color:rgb(241, 236, 236);
}
.all:hover{
    background-color: rgb(226, 226, 226);
}
.input{
    float: left;
    height: 40px;
    width:calc(100% - 111px);
    border: 1px solid white;

}
.search{
    float: left;
    height: 40px;
    width: 44px;
    border-radius: 0px 5px 5px 0px;
    border: 1px solid #febd69;
    background-color: #febd69;
}
.search:hover{
    background-color: #faaf4d;
}
.fa-sort-desc{
    position: relative;
    top: -4px;
    left: 3px;
    opacity: 0.6;
}
/*******************************************Upper-Right-Navbar**********************************/
.upper-right{
    height: 55px;
    width: 347px;
    float: right;
    margin-top: 2px;
    margin-right: 10px;
}
.flag-locator{
    float: left;
    width: 50px;
    height: 55px;
    padding: 16px 2px;
}
.flag-locator:hover{
    border: 1px solid white;
    margin: -1px;
}
.right-locator{
    float: left;
    height: 55px;
    width: 140px;
    padding: 11px 12px;
}
.Cart{
    float: left;
    height: 55px;
    width: 70px;
    font-size: 20px;
    padding: 13px 10px;
}
.right-locator:hover{
    border: 1px solid white;
    margin: -1px;
}
.Cart:hover{
    border: 1px solid white;
    margin: -1px; 
}
.second{
    float: left;
    padding-left: 3px;
    padding-top: 10px;
    width: 85px;
    height: 55px;
}
.second:hover{
    border: 1px solid white;
    margin: -1px; 
}
.lower-header{
    height: 40px;
    width: 100%;
    background-color: #232f3e;
}
.lower-header-left{
    height: 40px;
    width: calc(100% - 361px);
    float: left;
    padding-top: 5px;
    margin-left: 5px;

}
.lower-header-right{
    width: 346px;
    float: left;
}
.lower-header-right:hover{
    border: 1px solid white;
    margin: -1px;
    height: 38px;
}
.lower-header-a{
    height: 30px;
    width: 124px;
    color: white;
    text-decoration: none;
    font-size: 15px;
    display: inline-block;
    margin-left: 1px;
}
.lower-header-a:hover{
    cursor: pointer;
}
.lower-all{
        width: 50px;
        padding: 5px 7px;
}
.best{
    width: 97px;
    padding: 5px 7px;
}
.mobiles{
    width: 64px;
    padding: 5px 4px;
}
.today{
    width: 105px;
    padding: 5px 4px;
}
.Electronics{
    width: 87px;
    padding: 5px 4px;
}
.customer{
    width: 132px;
    padding: 5px 4px;
}
.lower-prime{
    width: 72px;
    padding: 5px 7px;
}
.fashion{
    width: 66px;
    padding: 5px 4px;
}

.new{
    width: 108px;
    padding: 5px 4px;
}
.home{
    width: 120px;
    padding: 5px 4px;
}
.amazon{
    width: 97px;
    padding: 5px 4px;
}
.computers{
    width: 87px;
    padding: 5px 4px;
}
.lower-header-a i{
    margin-right: 4px;
}
.lower-header-right img{
    width: 343px;
    float: left;
}
/********************************************Letf-Navbar*******************************************************/
.left-navbar-container{
    width: 0;
    position: fixed;
    height: 100%;
    top: -3px;
    left: 0;
    z-index: 1;
    overflow-y: scroll;
    transition: 0.3s;
    
}
.mid-content{
    width: 100%;
    height: auto;
    background-color: white;
    margin-top: -5px;
}
.left-navbar-content{
    width: 100%;
    float: left;
    height: 100%;
}
.left-navbar-cross{
    width: 0;
    z-index: -1;
    position: absolute;
    left: 378px;
    color: black;
    text-align: center;
    font-size: 31px;
    top: 15px;
}
.main{
    background-color: black;
}
.li-h{
    padding: 0;
}
h3{
    margin: 5px auto;
}
.left-navbar-cross:hover{
    cursor: pointer;
}

.left-navbar-header{
    width: 100%;
    height: 50px;
    background-color: #232f3e;
    padding: 12px 0px 5px 32px;
}
.fa-user{
    margin-right: 10px;
}
.mid-content ul{
    width: 100%;
    margin: 5px 0 5px 0;
}
.mid-content ul li{
    width: 100%;
    height: 50px;
    padding-left: 10%;
    padding-top: 4%;
    color: black;
}
.fa-chevron-right{
    opacity: 0.4;
    float: right;
}
.fa-chevron-down{
    opacity: 0.4;
    margin-left: 5px;
}
.mid-content ul li a{
    color: black;
}
.mid-content ul li a:hover{
    border: none;
}
.mid-content ul li:hover{
    cursor: pointer;
    background-color: #d5d3d3;
} 

/*********************************************Section****************************************/
.first-div-img{
    width: 100%;
}
section{
    background-color: #EEEEEE;
}
.section{
    position: relative;
}
.first-child{
    position: absolute;
    top: 40%;
    width: 100%;
    height: 440px;
    padding: 0px 6px;
    padding-left: 11px;
    color: #131921;
}
.second-child{
    width: 99%;
    margin: 4% auto;
    margin-bottom: 1%;

}
.section1{
    padding: 0 10px;
}
.first-div{
    width: 100%;
    height: 249px;
}
.section-parts{
    width: 100%;
    height: 440px;
    padding: 0px 6px;
    padding-left: 11px;
    color: #131921;
    margin-top: 1%;
}
.box{
    height: 410px;
    width: 23%;
    float: left;
    margin: 1%;
    padding: 20px 10px 10px 15px;
    background-color: white;
}
.box-ad{
    background: center;
    padding: 1px;
}
.content{
    width: 45%;
    float: left;
    margin: 10px 5px 5px 8px;
}
.small-images{
    height: auto;
    width: 100%;
   
}
.content h2{
    line-height: 27px;
    font-size: 21px;
}
.content p{
    font-size: 12px;
    line-height: 18px;
    margin-left: 0px;
    width: 100%;
}
.Weighing{
    float: none;
    margin: 1px auto;
}
.section-parts a{
    text-decoration: none;
    color: #077472;
    margin: 10px;
    font-size: 13px;
    display: inline-block;
    margin-top: 10%;
    font-weight: 600;
}
.mid-size-section a{
margin-top: 1%;
}
.small-size-section a{
    margin-top: 1%;
}
.large-content-a{
    margin-top: 3%;
}
.large-content{
    width: 100%;
    margin-top: 2%;
}
.large-content-p{
   width: 98%;
    margin-top: 15px;
}

.section-parts a:hover{
    text-decoration: underline;
    color: #c7511f;
    
}
.large-images{
    width: 100%;
}
.upper-box{
    width: 345px;
    height: 147px;
    float: left;
    margin: 5px;
    padding: 20px 10px 10px 15px;
    background-color: white;
}
.upper-box button{
    width: 98%;
    height: 33px;
    border-radius: 10px;
    margin-top: 15px;
    background-color:#FFC900;
    border: 0px;
}
.upper-box button:hover{
    background-color: #c79f0d;
}
.lower-box{
    width: 345px;
    height: 243px;
    float: left;
    margin: 9px;
    padding: 0px 10px 10px 15px;
}
.lower-a-1{
    margin-top: 50px;
}
.lower-a-2{
    margin-top: 50px;
}
.mid-size-section{
    height: 325px;
    width: 93%;
    margin: auto;
}
.mid-box{
    float: left;
    width: 185px;
    height: 259px;

}
.pillow-image{
    width: 250px;
    margin-bottom: 68px;
}
.pillow{
    width: 252px;
}
.vitamin{
    width: 240px;
}
.ladies-image{
    width: 139px;
}
.small-size-section{
    background-color: white;
    height: 290px;
}
.small-box{
    float: left;
    margin-left: 13px;
}
.section-7-img{
    width: 262px;
}
.earfone{
    width: 135px;
    margin-left: 35px;
}
.add{
    width: 65%;
    margin: 20px auto;
    margin-bottom: -8px;
}
.toy{
    width: 98%;
    margin: auto;
}
.kaanta{
    width: 21%;
    margin-left: 14%;
}
.color{
    width: 30%;
    margin-left: 11%;
}
.smallbox23{
    width: 232px;
    margin-top: 25px;
}
.small-box-1{
    width: 150px;
}
.smallbox1{
    width: 241px;
}
.smallbox2{
    width: 200px;
}
.smallbox3{
    width: 224px;
}
.smallbox4{
    width: 100px;
}
h2{
    line-height: 27px;
}
.large-p{
    font-size: 15px;
    line-height: 20px;
}
.small-p{
    line-height: 20px;
    margin-top: 5%;
    font-size: 15px;
}
.small-p .discount{
    position: relative;
    top: 1px;
    left: 13px;
    text-decoration: line-through;
}
.large-p1{
    font-size: 15px;
    line-height: 20px;
    position: relative;
    top: 7px;
}
.small-p1{
    position: relative;
    top: 18px;
    font-size: 15px;
}
.small-p1 .discount{
    position: relative;
    top: 1px;
    left: 13px;
    text-decoration: line-through;
}
.zero{
    position: relative;
    right: 3px;
    font-size: 12px;
    top: -4px;
}
.small-box-2{
    margin-right: 28px;
}
.section2{
    color: black;
    background-color: white;
    height: 650px;
    width: 100%;
    padding: 40px 0px 15px 0px;
    margin-top: 25px;
}
.section2-content h1{
    line-height: 27px;
    font-size: 23px;
}
.section2-content{
    height: 595px;
    width: 100%;
    padding: 15px;
    border: 0.5px solid #d5d3d3;
    border-radius: 5px;
}
.real-contents{
    width: 200px;
    height: 400px;
    float: left;
    margin-left: 11px;
    margin-top: 16px;
}
.real-contents-img{
    height: 167px;
    width: 170px;
    margin: 5px auto;
}
.real-contents p{
    width: 185px;
    margin-top: 5px;
    height: 220px;
   
}
.section2-content a{
    color: #007185;
    font-size: 14px;
    line-height: 20px;
}
.star{
    width: 85px;
}
.smaller{
    position: relative;
    bottom: 7px;
    font-size: 10px;
}
.price{
    font-size: 15px;
}
hr{
    border: 0.2px solid #d5d3d3;
    width: 99%;
    margin: auto;
    border-bottom: none;
}
.btn{
    width: 350px;
    height: 150px;
    margin: 15px auto;
    text-align: center;
    padding-top: 20px;
}
.btn button{
    width: 65%;
    height: 28px;
    border-radius: 5px;
    margin-top: 8px;
    background-color: #faaf4d;
    border: 0px;
}
.person{
    font-size: 13px;
    line-height: 15px;
}
.user a{
    text-decoration: none;
    font-size: 11px;
    margin-left: 4px;
}
footer{
    width: 100%;
    height: 762px;
    margin-top: 5px;
    color: white;
}
.upper-footer{
    height: 50px;
    width: 100%;
    background-color: #354558;
}
.upper-footer p{
    margin: auto;
    font-size: 13px;
    line-height: 19px;
    width: 100px;
    padding-top: 14px;
}
.lower-footer{
    width: 100%;
    height: 477px;
    background-color: #232F3E;
}
.lower-footer-content-parent{
    width: 70%;
    height: 300px;
    margin:0 auto;
}
.lower-footer-content{
    width: 235px;
    height: 225px;
    float: left;
    margin-right: 15px;
    margin-left: 15px;
    margin-top: 45px;
}
.lower-footer-content a{
    display: block;
    color: white;
    text-decoration: none;
    height: 15px;
    width: 193px;
    margin-top: 11px;
    font-weight: lighter;
    opacity: 0.8;
}
.lower-footer-content a:hover{
    text-decoration: underline;
    border: none;
}
.lower-footer hr{
    border: 0.2px solid #575454;
    width: 99%;
    margin: auto;
    border-bottom: none;
}
.contry{
    width: 75%;
    height: 145px;
    margin: 30px auto;
}
.footer-logo{
    width: 55%;
    height: 40px;
    margin: 10px auto;
}
.footer-logo img{
    position: relative;
    top: 7px;
    left: 180px;
    width: 85px;
    height: 29px;
}
.footer-logo button{
    background-color: #232F3E;
    position: relative;
    bottom: 10px;
    left: 250px;
    width: 115px;
    height: 32px;
    border: 0.1px solid white;
    color: white;
    border-radius: 3px;
    opacity: 0.7;
}
.contry-content{
    width: 93%;
    height: 75px;
    margin: 15px auto;
    text-align: center;
}
.contry-content a{
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 4px 8px;
    opacity: 0.8;
    font-size: 12px;

}
.contry-content a:hover{
    border: none;
    text-decoration: underline;
}
.last-footer{
    width: 100%;
    height: 235px;
    background-color:#131921 ;
}
.last-footer-content{
    width: 70%;
    height: 138px;
    margin: 0px auto;
    padding: 3px;
    padding-top: 38px;
}
.last-footer-content a p{
    margin-left: 0;
    font-size: 11px;
    line-height: 11px;
}
.last-footer-content a{
    display: inline-block;
    width: 207px;
    height: 60px;
    opacity: 0.7;

}
.last-footer-content a:hover{
    border: none;
    text-decoration: underline;
}
.smaller-p{
    width: 100px;
}
.signature{
    width: 52%;
    margin: 50px auto;
}
.signature a{
    margin-left: 10px;
    font-size: 12px;
    opacity: 0.9;
}
.signature span{
    left: 24px;
    top: 1px;
    font-size: 13px;
    opacity: 0.9;
}
.signature a:hover{
    text-decoration: underline;
    border: none;
}
.inline-css{
    margin-top: 50px;
}
.slide-show-container{
    width: 100%;
    position: relative;

}
.slide-img{
    display: none;
}
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 0;
    padding: 16px;
    font-weight: bold;
    font-size: 49px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    height: 42%;
    width: 5%;
    text-align: center;
    padding-top: 8%;
}
.next a{
    color: black;
}
.prev a{
    color: black;
}
.prev a:hover{
    border: 0;
}
.next a:hover{
    border: 0;
}

  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  .prev:hover, .next:hover {
    border: 1px solid white;
  }
  .slide-bar-2-parent{
      width: 100%;
      position: relative;
      background-color: white;
  }
  .side-bar-2{
      display: none;
      transition: 0.6s, ease;
  }
  .prev2{
    border: 1px solid rgb(221, 204, 204);
    top: 60px;
    left: 0;
    height: 116px;
    padding-top: 50px;
    padding-left: 11px;
    font-size: 25px;
    opacity: 0.4;
    font-weight: bolder;
    width: 40px;
    box-shadow: 0 1px 3px #888;
  }
  .next2{
    right: 0;
    border: 1px solid rgb(221, 204, 204);
    top: 60px;
    height: 116px;
    padding-top: 50px;
    padding-left: 14px;
    font-size: 25px;
    opacity: 0.4;
    font-weight: bolder;
    box-shadow: 0 1px 3px #888;
    width: 40px;
  }
  .shoes{
      width: 314px;
  }
  .purse{
    width: 183px;
    margin-bottom: 54px;
  }
  .prev2:hover{
     border: 2px solid #007185;;
  }
  .next2:hover{
    border: 2px solid #007185;;
 }
 .country{
    width: 17%;
    position: absolute;
    z-index: -1;
    top: 50px;
    right: 7%;
    background-color: white;
    border-radius: 5px;
    color: black;
}
.selected{
    width: 90%;
    margin: 10px auto;
}
.selected:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #f88f06;
}
.country input{
    margin: 4px 6px 0px 2px;
}
.country-content-childs{
    width: 90%;
    margin: 10px auto;
}
.country-content-childs:hover{
    text-decoration: underline;
    cursor: pointer;
    color: #f88f06;
}

.contry-footer p{
    width: 95%;
    margin: 5px auto;
    font-size: 15px;
}
.contry-footer p i{
    margin-right: 7px;
}
.change a{
    color: blue;
}
.change{
    width: 63%;
    margin: 15px auto;
}
.sign-in-parent{
    width: 53%;
    position: absolute;
    z-index: -1;
    top: 51px;
    right: 51px;
    height: 409px;
    background-color: white;
}
.sign-in-child{
    width: 33%;
    border-right: 1px solid rgb(219, 216, 216);
    height: 95%;
    float: left;
}
.sign-in-head{
    width: 90%;
    margin: 5px auto;
}
.sign-in-child h2{
    color: black;
}
.sign-in-child a{
    color: #007185;
    font-size: 17px;
}
.sign-in-child a:hover{
    color: #f3c10d;
    text-decoration: underline;
}
.sign-in-img{
float: left;
width: 33%;
margin-top: 5px;
}
.sign-in-img-content{
  float: left;
  width: 58%;
  margin-left: 10px;  
  margin-top: 5px;
}
.sign-in-img-content p{
    margin: 0;
}
.sign-in-img-content p a{
    font-size: 14px;
}
.sign-in-img-content button{
    width: 54%;
    height: 25px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: #FFC900;
    border: 0px;
}
.sign-in-img-content button:hover{
    background-color: #e7b604;
}
.same p{
    margin-top: 5px;
    width: 80%;
}
.same p a{
    font-size: 14px;
    color: black;
}
.same hr{
    margin: 5px;
}
.list-a{
    margin-left: -12px;
}
.right-border{
    border: 0;
}
.right-locator h5, p:hover{
    cursor: pointer;
}
