<!--<div class="jumbotron">
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-8 offset-sm-2">
                <div *ngFor="let message of messages" class="alert alert-success">{{message.text}}</div>
                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>
<app-new-cmp></app-new-cmp>-->
<!---Template Driven Form-->
<div class="col-md-6">
    <h1 class="error">Template Form</h1>
    <form #userinfo="ngForm" class="form" (ngSubmit)="Onsubmit(userinfo.value); userinfo.reset()">
   <div class="form-group">
       <input type="text" class="form-control" name="name" required placeholder="Enter Your name" #yourName="ngModel" [(ngModel)]= "user.name" >
       <span class="error" *ngIf="yourName.invalid && yourName.touched">Please Enter Your Name</span>
   </div>
   <div class="form-group">
       <input type="email" class="form-control" name="email" required placeholder="Enter Your email" #yourEmail="ngModel" ngModel>
       <span class="error" *ngIf="yourEmail.invalid && yourEmail.touched">Please Enter Your Email</span>
   </div>
   <div class="form-group">
       <input type="tel" class="form-control" name="phone" required placeholder="Enter Your phone no." #yourPhone="ngModel" ngModel>
       <span class="error" *ngIf="yourPhone.invalid && yourPhone.touched">Please Enter Your Phone</span>
   </div>
   <div class="form-group">
       <input type="submit" [disabled]="userinfo.invalid" class="btn btn-success">
   </div>
</form>
</div>
<!-- Model Driven Form-->
<div class="col-md-6">
    <h1 class="error">Reactive Form</h1>
    <form [formGroup]="contactForm" class="form" >
   <div class="form-group">
       <input type="text" class="form-control" formControlName="yourName" placeholder="Enter Your name">
   </div>
   <div class="form-group">
       <input type="email" class="form-control" formControlName="yourEmail" placeholder="Enter Your email" >
       
   </div>
   <div class="form-group">
       <input type="tel" class="form-control" formControlName="yourPhone" placeholder="Enter Your phone no." >
       
   </div>
   <div class="form-group">
       <input type="submit" class="btn btn-success" (click)="reactiveSubmit()">
       &nbsp; &nbsp; <a (click)="setDate()" class="btn btn-primary">Set Values</a>
      
   </div>
</form>
</div>
