<form #userlogin = "ngForm" (ngSubmit) = "addChild(userlogin.value)"  class="parent-form">
    <h2>Parent Input box:</h2>
    <input type = "text" name = "fruit" id="inpt"  ngModel>
    <br/>
    <input type = "submit" value = "submit">
 </form>
 <div class="parent">
     <h1>Parent Component Change by himself</h1>
     <ul>
         <li *ngFor="let i of Pafruits" >  {{ "parent=>"+ i}} </li>
     </ul>
 </div>
 <div class="parent">
    <h1>Parent Component Change by child </h1>
    <ul>
        <li *ngFor="let i of items" >  {{ "parent=>"+ i}} </li>
    </ul>
</div>
<a routerLink="appchild">childcomponent </a>
<a routerLink="excmp">excoponent</a>
<router-outlet></router-outlet>

<!--  <app-child [parentFruits]="Pafruits" (Chifruits)="addItem($event)" ></app-child>-->
 
 
